// OVERWRITE DEFAULT

$secondary-color:  #f5f5f5;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;

$link-color: color("light-blue", "darken-1") !default;

// COLOR VARS

$light-grey:#bdbdbd;
$holy-grey:#f5f5f5;
$content_bg:rgba(15,15,15,0.32);
.hint{
  color:$holy-grey;
}
.sub{
  margin-bottom:5%;
  background:transparent;
}
h4{
  text-align: center;
  font-size:1em;
}
.box{

  height:auto;
  padding:5px;
  text-align: left;
  background:$content_bg;
  border: 1px solid #e0e0e0;
  color:$light-grey;
      opacity:0.85;
    position:fixed;
    top:0;
    right:0;

  p.nick{
      font-size:1em;
      text-align: center;
      color:$holy-grey;
  }

}
body {
  background-color: rgba(10, 10, 10, 0.8);
  height:100%;
}
#main_content{
  margin-top:2%;

  & #menu{
    width:95%;
    text-align: center;

    height:auto;
    padding-bottom:0;
    COLOR:$light-grey;
    background:$content_bg;
    margin-left:3%;

  }

  & #search{
    margin-top:-0.5%;
  }
}
.secondary-content{
  color:$light-grey;
}
.collection{

  & .collection-item{
    background:$content_bg;
    color:$holy-grey;
    text-align:left;
    &.avatar{
      min-height:10%;
    }

  }
}

textarea.materialize-textarea{
  padding-top:10px;
  min-height:0;
}
.collection .collection-item.avatar .title {
  font-size: 13px;
}
.collection .collection-item.avatar p{
  font-size:11px;
}
.countselect {
  width:20%;
  padding:1%;
  margin:1%;
  float:left;
  display:inline;
  height:2rem;
  background:#232323;
  color:#f3f3f3;
}